<?xml version="1.0" encoding="utf-8"?>
<!-- The only NuGet configuration of the build (RestoreConfigFile in Directory.Build.props). -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
